
<div class="container">

    <div class="page-header">
        <h1 class="page-title">Administration des produits</h1>
        <p class="page-description">Pour ajouter/supprimer ou modifier le prix de vente d'un produit</p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 100px;">ID</th>
                <th>Nom</th>
                <th style="width: 180px;">Prix de vente</th>
                <th style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products | orderBy:'name'">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} €</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="editProduct(product)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="removeProduct(product)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProduct">
        Nouveau produit
    </button>

    <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" ng-submit="addProductSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title">Nouveau produit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addProduct_name">Nom du produit</label>
                        <input type="text" class="form-control" id="addProduct_name" placeholder="Nom du produit" ng-model="addProduct_name" required>
                    </div>
                    <div class="form-group">
                        <label for="addProduct_price">Prix de vente</label>
                        <input type="number" step=".01" class="form-control" id="addProduct_price" placeholder="Prix de vente du produit" ng-model="addProduct_price" min="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="addProduct_expired_at">Date de péremption</label>
                        <input type="date" class="form-control" value="{{addProduct_expired_at_value}}" id="addProduct_expired_at" ng-model="addProduct_expired_at" required>
                    </div>
                    <div class="form-group">
                        <label for="addProduct_quantity_min">Quantitée minimum en stock</label>
                        <input type="number" step="1" class="form-control" id="addProduct_quantity_min" placeholder="Seuil minimum" ng-model="addProduct_quantity_min" required>
                    </div>
                    <div class="form-group">
                        <label for="addProduct_image">Image (230x150px)</label>
                        <input type="file" class="form-control" id="addProduct_image" placeholder="Image de l'article" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" required>
                        <div class="text-center" style="margin: 10px;" ng-show="productImage">
                            <img ng-src="{{ productImage }}" style="width:230px; height: 115px">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" ng-submit="editProductSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title">Modification d'un produit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editProduct_name">Nom du produit</label>
                        <input type="text" class="form-control" id="editProduct_name" placeholder="Nom du produit" ng-model="editProduct_name" required>
                    </div>
                    <div class="form-group">
                        <label for="editProduct_price">Prix de vente</label>
                        <input type="number" step=".01" class="form-control" id="editProduct_price" placeholder="Prix de vente du produit" ng-model="editProduct_price" min="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="editProduct_expired_at">Date de péremption la plus proche</label>
                        <input type="date" class="form-control" value="{{editProduct_expired_at_value}}" id="editProduct_expired_at" ng-model="editProduct_expired_at" pattern="yyyy-MM-dd" required>
                    </div>
                    <div class="form-group">
                        <label for="editProduct_quantity_min">Quantitée minimum en stock</label>
                        <input type="number" step="1" class="form-control" id="editProduct_quantity_min" placeholder="Quantitée en dessous de laquelle il y aura une alerte" ng-model="editProduct_quantity_min" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="editProduct_image">Image (230x150px)</label>
                        <input type="file" class="form-control" id="editProduct_image" placeholder="Image de l'article" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)">
                        <div class="text-center" style="margin: 10px;" ng-show="productImage">
                            <img ng-src="{{ productImage }}" style="width:230px; height: 115px">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="removeProduct" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" ng-submit="removeProductSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title">Supression d'un produit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editProduct_image">Image (230x150px)</label>
                        <div class="text-center" style="margin: 10px;" ng-show="productImage">
                            <img ng-src="{{ productImage }}" style="width:230px; height: 115px">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>
