
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Amicale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-class="{'active': page=='Home'}">
                    <a class="nav-link" href="/home">Accueil</a>
                </li>
                <li class="nav-item" ng-class="{'active': page=='AdminProductsController'}">
                    <a class="nav-link" href="/admin/products">Administration produits</a>
                </li>
                <li class="nav-item" ng-class="{'active': page=='InventoryManagerController'}">
                    <a class="nav-link" href="/admin/inventory_manager">Gestion des stocks</a>
                </li>
                <li class="nav-item" ng-class="{'active': page=='UsersController'}">
                    <a class="nav-link" href="/admin/users">Utilisateurs</a>
                </li>
            </ul>
        </div>
  </div>
</nav>

<div ng-view></div>
