
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Amicale</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item" ng-class="{'active': page=='Home'}">
                    <a class="nav-link" href="/home">Accueil</a>
                </li>
                <li class="nav-item dropdown" ng-class="{'active': page=='InventoryManager'||page=='Users'||page=='AdminProducts'}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/inventory_manager" ng-class="{'active': page=='InventoryManager'}">Gestion des stocks</a>
                        <a class="dropdown-item" href="/admin/users" ng-class="{'active': page=='Users'}">Utilisateurs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/products" ng-class="{'active': page=='AdminProducts'}">Produits</a>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</nav>

<div ng-view></div>
