
<div class="home-container">

    <div class="home-products">
        <div class="home-products-item" ng-repeat="product in products | orderBy:'name'">
            <div class="card" style="margin: 10px" ng-click="add(product)" ng-right-click="remove(product)">
                <span class="card-badge badge badge-dark badge-primary" ng-show="product.quantity > 0">{{ product.quantity }}</span>
                <img class="card-img-top" ng-src="{{ product.image }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="home-products-item-title">{{ product.name }}</h5>
                    <p class="home-products-item-stock" ng-style="{color: product.stock-product.quantity==0?'red':''}">En stock : {{ product.stock }}</p>
                    <p class="home-products-item-price">{{ product.price }} €</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-details">
        <h5 class="home-details-title">Récapitulatif</h5>

        <div ng-show="isEmpty()">
            <p class="font-italic text-center">Veuillez sélectionner des articles</p>
        </div>

        <div ng-hide="isEmpty()">
            <ul>
                <li ng-repeat="product in products" ng-show="product.quantity > 0">
                    <b>{{ product.quantity }}</b>x {{ product.name }}
                </li>
            </ul>
            <div class="home-details-total">
                Total : {{ getTotal() }} €
            </div>
            <div class="home-details-pay">
                <button class="btn btn-success" ng-click="validate()">Encaisser</button>
            </div>
            <div class="home-details-cancel">
                <button class="btn btn-secondary btn-sm" ng-click="cancel()">Annuler</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="validate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" ng-submit="validateSubmit()">
            <div class="modal-header">
                <h5 class="modal-title">Encaisser</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="product in products" ng-show="product.quantity > 0">
                        <b>{{ product.quantity }}</b>x {{ product.name }}
                    </li>
                </ul>
                <strong>Total : {{ getTotal() }} €</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
</div>
