
<div class="home-container">

    <div class="home-products">

        <h1>Catégorie</h1>

        <div class="home-products-item" ng-repeat="product in products">
            <div class="card" style="margin: 10px" ng-click="add(product)" ng-right-click="remove(product)">
                <span class="card-badge badge badge-dark badge-primary" ng-show="product.quantity > 0">{{ product.quantity }}</span>
                <img class="card-img-top" src="img/bueno.png" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="home-products-item-title">{{ product.name }}</h5>
                    <p class="home-products-item-stock" ng-style="{color: product.stock-product.quantity==0?'red':''}">En stock : {{ product.stock }}</p>
                    <p class="home-products-item-price">{{ product.price }} €</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-details">
        <h5 class="home-details-title">Récapitulatif</h5>

        <div ng-show="isEmpty()">
            <p class="font-italic text-center">Veuillez sélectionner des articles</p>
        </div>

        <div ng-hide="isEmpty()">
            <ul>
                <li ng-repeat="product in products" ng-show="product.quantity > 0">
                    <b>{{ product.quantity }}</b>x {{ product.name }}
                </li>
            </ul>
            <div class="home-details-total">
                Total : {{ getTotal() }} €
            </div>
            <div class="home-details-pay">
                <button class="btn btn-success">Encaisser</button>
            </div>
            <div class="home-details-cancel">
                <button class="btn btn-secondary btn-sm" ng-click="cancel()">Annuler</button>
            </div>
        </div>
    </div>

</div>
